<footer class="page-footer " id="page-footer">
    <div class="row ">
        <div class="col-lg-8 col-md-8 col-sm-12 ">
            <h6 class="text-uppercase font-weight-bold " style="color: green; ">Additional Information</h6>
            <p>Our project aim to develop an application that allow the recognition and further the resolution
                of symbolic mathematical formulas.</p>
            <p>The insertion of the formulas could happen through the use of a predefined text-area or through
                the uploading of an image containing a formula.</p>
            <p>The resolution of the formulas happen through the use of Wolfram|Alpha's API.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <h6 class="text-uppercase font-weight-bold " style="color: green; ">Contact</h6>
            <p>Università degli studi di Milano Bicocca
                <br />info[at]SciQ.com
                <br />c.carta4[at]campus[dot]unimib[dot]it
                <br />s.ventura6[at]campus[dot]unimib[dot]it
                <br />h.amrani[at]campus[dot]unimib[dot]it
                <br />f.belotti8[at]campus[dot]unimib[dot]it
                <br />g.scarpellini[at]campus[dot]unimib[dot]it
            </p>
        </div>
    </div>
    <div class="footer-copyright text-center">© 2020 Copyright: SciQ.com</div>
</footer>